.offer_table {
	position: relative;

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--box-low-opacity);
		border-radius: 2rem;
		padding: 2rem;

		.title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			margin-bottom: 1rem;
		}

		.horizontal_line {
			width: 50%;
			margin: 1rem 0;
		}

		.table {
			position: relative;
			padding: 1rem;
			width: 100%;
			border-collapse: collapse;

			tr,
			th,
			td {
				padding: 0.5rem;

				img {
					width: 25%;
					aspect-ratio: 1/1;
				}
			}

			tr {
				th {
					width: 50%;
					background-color: var(--table-main-color);
					text-align: center;
					text-transform: uppercase;
					font-weight: 300;
					font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
				}

				td {
					display: block;
					text-align: center;
				}

				td::before {
					content: attr(data-cell) ': ';
				}

				th,
				td {
					border: 1px solid white;
				}
			}

			tr:first-child {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.offer_table {
		.main {
			.table {
				tr,
				th,
				td {
					padding: 0;
				}

				tr {
					display: inline-block;
					width: 100%;

					th,
					td {
						height: 10rem;
					}

					th {
						display: inline-block;
						width: 20%;
					}

					td {
						width: 20%;
						display: inline-block;
						text-align: center;
					}

					td::before {
						content: '';
					}
				}

				tr:first-child {
					display: block;
				}
			}
		}
	}
}
