.service_description {
	position: relative;
	padding-top: 15rem;

	.title_box {
		.title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			padding-block: 1rem;
		}
	}

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block: 2rem;
		height: auto;

		.box_one,
		.box_two,
		.img_box {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			gap: 2rem;
			padding: 1rem 2rem;

			p {
				text-align: center;
				font-weight: 300;
				font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
			}
		}

		.img_box {
			width: 100%;
			img {
				width: 100%;
				height: 100%;
				max-width: 50rem;
				animation: move 5s infinite ease-in-out;
			}
		}
	}
}

.horizontal_line {
	width: 100%;
	margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
	.service_description {
		.main {
			flex-direction: row;
			justify-content: end;

			.box_one,
			.box_two,
			.img_box {
				padding: 0;
				height: 100%;
				display: flex;
			}

			.box_one {
				width: 25%;
				p {
					text-align: left;
				}
			}

			.box_two {
				width: 25%;
				p {
					text-align: right;
				}
			}

			.img_box {
				width: 50%;
				img {
					min-width: 50rem;
				}
			}
		}
	}
}

@keyframes move {
	0% {
		transform: scale(0.97);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(0.97);
	}
}
