.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 800px;
	max-height: 1280px;
	background-image: url(../../assets/photos/hero.webp);
	background-size: cover;

	/* .gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: rgb(30, 77, 16);
		background: linear-gradient(180deg, rgba(30, 77, 16, 0.25) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(30, 77, 16, 0.25) 100%);
	} */

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 10rem;
		gap: 3rem;
		animation: scale-up-center 15s cubic-bezier(0.39, 0.575, 0.565, 1) both;

		h1,
		h2 {
			color: var(--font-main-color);
			text-align: center;
			text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
		}
		h1 {
			padding-inline: 3rem;
			font-size: clamp(2rem, 5.778vw - 0.022rem, 7.2rem);
			font-weight: 400;
			animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			span {
				animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
			}
		}

		h2 {
			font-size: clamp(1.6rem, 0.889vw + 1.289rem, 2.4rem);
			font-weight: 300;
			animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
		}

		.line_one {
			width: clamp(15rem, 25vw + 6.25rem, 37.5rem);
			height: 1px;
			animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
		}

		.line_two {
			width: clamp(30rem, 50vw + 12.5rem, 75rem);
			height: 1px;
			animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
		}

		div {
			animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 4s both;
		}
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-top {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-50px);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		min-height: 900px;
		.main {
			h1 {
				padding-inline: 10rem;
			}
		}
	}
}
