.gardenOfDreams {
	padding-block: 10rem;
	position: relative;
	background-color: var(--background-second-color);

	.main {
		position: relative;
		padding-inline: 2rem;

		.title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			margin-bottom: 3rem;
		}

		.horizontal_line {
			width: 100%;
			margin: 1rem 0;
		}

		.vertical_line {
			display: none;
		}

		.description {
			text-align: center;
			font-weight: 300;
			font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
			margin-bottom: 3rem;
		}

		.box {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: var(--box-low-opacity);
			border-radius: 2rem;
			padding: 2rem;

			.box_one,
			.box_two {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 50%;
				padding: 2rem;
				gap: 2rem;

				img {
					height: clamp(18rem, 52.632vw - 0.421rem, 40rem);
					animation: move 20s infinite ease-in-out;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.gardenOfDreams {
		.main {
			.box {
				flex-direction: row;

				.box_one,
				.box_two {
					img {
						height: clamp(20rem, 41.494vw - 11.867rem, 40rem);
					}
				}

				.horizontal_line {
					display: none;
				}
			}

			.vertical_line {
				display: inline;
				position: absolute;
				height: calc(100% - 2rem);
				width: 1px;
			}
		}
	}
}

@keyframes move {
	0% {
		transform: scale(0.97);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(0.97);
	}
}
