.main {
	width: 80%;
	.title {
		text-transform: uppercase;
		font-weight: 300;
		font-size: clamp(1.6rem, 1.333vw + 1.133rem, 2.8rem);
	}

	.line {
		width: 100%;
		height: 1px;
	}

	.boxes {
		position: relative;
		display: flex;
		flex-direction: column;

		.box_one,
		.box_two {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 2rem;
			background-color: var(--box-low-opacity);

			.img_box,
			.text_boxes {
				width: 50%;
			}
		}
	}
}
