.navigation {
	z-index: 100;
	position: absolute;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.logo {
	z-index: 10;
	padding-top: 40px;
	padding-left: 2rem;

	img {
		max-width: 15rem;
		aspect-ratio: 1;
	}
}

.menu {
	z-index: 10;
	position: relative;
	height: 100%;
	padding-top: 20px;
	padding-right: 2rem;
	align-self: center;
}

.burger,
.close {
	max-width: 2.5rem;
	cursor: pointer;
}

.navbar {
	display: none;
}

.navbarMobile {
	background-color: var(--background-main-color);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		li {
			.navlinks {
				font-size: 2rem;
				padding: 0.5rem 1rem;
			}
		}

		.icons {
			.icon {
				width: 2.5rem;
				aspect-ratio: 1;
				margin: 0 1rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.logo {
		padding-left: 0;
	}

	.menu,
	.navbarMobile {
		display: none;
	}

	.navbar {
		display: flex;
		padding-top: 40px;
		justify-content: end;
		height: fit-content;

		ul {
			display: flex;
			justify-content: center;
			align-items: center;

			li {
				.navlinks {
					margin-inline: 0.5rem;
					font-size: 2.4rem;
					padding: 0.5rem 1rem;
				}
			}

			.icons {
				.icon {
					width: 2.5rem;
					aspect-ratio: 1;
					margin: 0 1rem;
				}
			}
		}
	}
}
