.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: clamp(5rem, 1.433vw + 4.499rem, 10rem);
	background-image: url(../../assets/design/wave.svg);
	background-size: cover;
	background-position: bottom;
}
