.wave {
	position: absolute;
	bottom: 0;
	aspect-ratio: 1250/200;
	width: 100%;
	min-height: 15rem;
	max-height: 25rem;
	background-size: cover;
	background-position: center;
}

.main {
	background-image: url(../../assets/design/stacked-waves-haikei.svg);
}

.reversed {
	background-image: url(../../assets/design/stacked-waves-haikei2.svg);
}
