.form {
	padding-top: 15rem;
	padding-bottom: 5rem;

	.title_box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			padding-block: 1rem;
		}

		.horizontal_line_one {
			width: 100%;
			margin: 1rem 0;
		}

		p {
			text-align: center;
			font-weight: 300;
			font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
		}
	}

	.main {
		position: relative;
		width: 100%;

		form {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-block: 2rem;

			.bigger_label {
				text-transform: uppercase;
				font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			}

			.smaller_label {
				text-transform: uppercase;
				font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
			}

			.error {
				position: absolute;
				bottom: -6%;
				font-size: clamp(1.2rem, 0.667vw + 0.967rem, 1.8rem);
				text-transform: uppercase;
				color: rgb(121, 22, 22);
				visibility: hidden;
			}

			input[type='radio'] {
				height: 2rem;
				width: 2rem;
				cursor: pointer;
			}

			.basic_info {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.image {
					position: relative;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						height: 100%;
						width: 100%;
						max-width: 50rem;
					}
				}

				.basic_box {
					position: relative;
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;

					.basic_input {
						width: 100%;
						max-width: 35rem;
						text-transform: uppercase;
						font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
						padding: 0.5rem 1rem;
						margin: 0.5rem;
						font-family: 'Barlow Semi Condensed', sans-serif;
					}

					.basic_info_box {
						position: relative;
						width: 80%;
						max-width: 30rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 1rem;
						text-align: center;
					}
				}

				.horizontal_line_two {
					width: 100%;
					margin: 1rem 0;
				}

				.vertical_line {
					display: none;
					position: absolute;
					height: calc(100% - 2rem);
					width: 1px;
				}
			}
		}

		.second_info {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.second_info_box {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 2rem;

				p {
					margin-bottom: 1rem;
				}

				div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					label {
						margin-bottom: 1.5rem;
						font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
						cursor: pointer;
					}
				}
			}
		}

		.additional_info {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;

			p {
				margin-bottom: 1rem;
			}

			textarea {
				position: relative;
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				height: 20rem;
				min-height: 20rem;
				max-height: 50rem;
				font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
				padding: 0.5rem 1rem;
				font-family: 'Barlow Semi Condensed', sans-serif;
			}

			div {
				position: relative;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem 0;
			}
		}

		button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: clamp(20rem, 19.444vw + 13.194rem, 37.5rem);
			font-size: clamp(1.6rem, 1.333vw + 1.133rem, 2.8rem);
			text-transform: uppercase;
			font-weight: 300;
			aspect-ratio: 6/1;
			border: none;
			border-radius: 1rem;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			background-color: var(--button-main-color);
			color: var(--font-main-color);
			transition: background-color 0.3s;
		}

		button:hover {
			background-color: var(--button-hover-color);
		}
	}
}

@media screen and (min-width: 768px) {
	.form {
		.main {
			form {
				input[type='radio'] {
					width: 3rem;
					height: 3rem;

					margin-right: 1rem;
				}

				.basic_info {
					flex-direction: row;

					.horizontal_line_two {
						display: none;
					}

					.vertical_line {
						display: block;
					}

					.basic_box {
						flex-direction: column;
						flex-wrap: nowrap;

						.basic_input {
							max-width: none;
						}

						.basic_info_box {
							max-width: 60rem;
						}
					}
				}

				.second_info {
					.second_info_box {
						position: relative;
						flex-direction: row;
						justify-content: space-between;

						p {
							display: inline-block;
							width: 50%;
							margin: 0;
						}

						div {
							position: relative;
							flex-direction: row;
							justify-content: start;
							width: calc(50% / 3);

							label {
								margin: 0;
							}
						}
					}
				}

				.additional_info {
					div {
						justify-content: start;
					}
				}
			}
		}
	}
}
