.footer {
	position: relative;
	background-image: url(../../assets//photos/WLBN1.jpg);
	background-position: center;
	background-size: cover;
	padding-block: 2rem;

	.horizontal_line {
		width: 100%;
		margin: 2rem 0;
	}

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 2rem;
		padding: 1rem;
		gap: 1rem;

		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.box_one,
			.box_two {
				font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
				text-align: center;
				padding: 1rem 3rem;

				p {
					padding: 0.2rem;
				}
			}

			.icons {
				padding: 1rem;
				display: flex;
				.icon {
					width: clamp(2.8rem, 2.871vw + 1.795rem, 4rem);
					aspect-ratio: 1;
					margin: 0 1rem;
				}
			}
		}

		.img_box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			order: -1;
			width: 100%;

			.logo {
				width: 75%;
				max-width: 30rem;
			}

			.leaf_one {
				transform: rotate(180deg);
			}
		}
	}

	.signature {
		text-align: center;
		font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
	}
}

@media screen and (min-width: 768px) {
	.footer {
		.main {
			flex-direction: row;

			.info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 50%;
				gap: 3rem;

				.icons {
					display: flex;
					.icon {
						aspect-ratio: 1;
						margin: 0 1rem;
					}
				}
			}

			.img_box {
				order: 1;
				width: 50%;

				.logo {
					max-width: 40rem;
				}
			}
		}
	}
}
