.footer {
	position: relative;
	background-color: var(--footer-main-color);
	padding-block: 2rem;

	.horizontal_line {
		width: 100%;
		margin: 2rem 0;
	}

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--box-low-opacity);
		border-radius: 2rem;
		padding: 2rem;
		gap: 2rem;

		.box_one,
		.box_two {
			text-transform: uppercase;
			font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
			text-align: center;

			p {
				padding: 0.5rem;
			}
		}

		.img_box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			.logo {
				width: 50%;
				max-height: 30rem;
				max-width: 30rem;
			}

			.leaf_one,
			.leaf_two {
				width: 25%;
				max-height: 15rem;
				max-width: 15rem;
				transform: rotateX(180deg);
			}

			.leaf_one {
				transform: rotate(180deg);
			}
		}
	}

	.signature {
		text-align: center;
		font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
	}
}

@media screen and (min-width: 768px) {
	.footer {
		.main {
			flex-direction: row;

			.box_one {
				text-align: left;
			}

			.box_two {
				text-align: right;
			}

			.box_one,
			.box_two {
				width: 25%;

				p {
					padding: 1rem;
				}
			}

			.img_box {
				width: 50%;

				.logo {
					padding-inline: 2rem;
				}
			}
		}
	}
}
