.chosen_projects {
	position: relative;
	padding-top: 20rem;
	background-image: url(../../assets/design/bg.png);
	background-size: cover;
	background-attachment: fixed;

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			padding-block: 1rem;
		}

		.horizontal_line {
			width: 100%;
			margin: 1rem 0;
		}

		.filter {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: start;
			padding: 0rem 1rem;

			p {
				text-transform: uppercase;
				font-weight: 300;
				font-size: clamp(1.6rem, 2.222vw + 0.822rem, 3.6rem);
			}

			select {
				width: 50%;
				max-width: 30rem;
				padding: 0.5rem;
				margin: 1rem 2rem;
				background-color: var(--footer-main-color);
				text-align: center;
				text-transform: uppercase;
				font-family: 'Barlow Semi Condensed', sans-serif;
				font-weight: 300;
				font-size: clamp(1.4rem, 1.111vw + 1.011rem, 2.4rem);
				color: white;
				border: none;
				cursor: pointer;
			}

			select,
			::picker(select) {
				appearance: none;
			}

			select:focus {
				outline: none;
			}
		}

		.projects_box {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 2rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.chosen_projects {
		padding-top: 30rem;
	}
}
