* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: var(--background-main-color);
	color: var(--font-main-color);
}

a {
	color: var(--font-main-color);
	text-decoration: none;
	text-transform: uppercase;
}

li {
	list-style: none;
}

button {
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

strong {
	font-weight: 700;
	letter-spacing: 0.06rem;
}

hr {
	border: 1px solid white;
}
