* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: var(--background-main-color);
}

a {
	color: var(--font-main-color);
	text-decoration: none;
	text-transform: uppercase;
}

li {
	list-style: none;
}

button {
	font-family: 'Barlow Semi Condensed', sans-serif;
	cursor: pointer;
}
