* {
	--font-main-color: #ffffff;
	--lines-color: #ffffff;
	--background-main-color: #7da567;
	--background-second-color: #9dc089;
	--footer-main-color: #5d804a;
	--table-main-color: #5d804a;
	--button-main-color: #d9696b;
	--button-hover-color: #b36668;
}
