* {
	--font-main-color: #ffffff;
	--background-main-color: #38563e;
	--background-second-color: #9dc089;
	--footer-main-color: #38563e;
	--table-main-color: #5d804a;
	--button-main-color: #af3a3a;
	--button-hover-color: #c75456;
	--box-low-opacity: rgb(255, 255, 255, 0.1);
}
